<video
  *ngIf="video"
  [src]="src"
  [class]="videoClass"
  [poster]="poster"
  [autoplay]="autoplay"
  [loop]="loop"
  [muted]="muted"
  [controls]="controls"
  [attr.type]="type"
  [attr.playsinline]="playsInline"
  (loadeddata)="onVideoLoad()"
  (inViewportChange)="onInViewportChange($event)"
  #videoEl
  #snInViewport="snInViewport"
  snInViewport>

  <sn-image-loader
    #posterImg
    [imgClass]="posterClass"
    [image]="video.poster"
    [sizes]="sizes"
    [alt]="alt"
    (imageLoaded)="onImageLoad($event)">
  </sn-image-loader>
</video>
