<h3>Top image</h3>
<sn-image-loader
  [image]="image"
  [sizes]="sizes"
  imgClass="img img--top"
  alt="lorem ipsum"
  class="sn-image-loader sn-image-loader--top">
</sn-image-loader>

<h1>Scroll down for bottom image ↓</h1>
<h3>Bottom placeholder loaded: <span class="placeholder-loaded">{{ placeholderLoaded }}</span></h3>
<div class="spacer"></div>

<h3>Bottom image</h3>
<sn-image-loader
  [image]="image"
  [sizes]="sizes"
  imgClass="img img--bottom"
  alt="lorem ipsum"
  (placeholderLoaded)="onPlaceholderLoad($event)"
  (imageLoaded)="onImageLoad($event)"
  class="sn-image-loader sn-image-loader--bottom"
  #imgEl>
</sn-image-loader>
<h3>Bottom image imageLoaded event count: <span class="image-loaded-count">{{ imageLoadedEventCount }}</span></h3>

<h1>Scroll down for async image</h1>
<h3>Async image placeholder loaded: <span class="placeholder-loaded">{{ placeholderAsyncImageLoaded }}</span></h3>
<div class="spacer"></div>

<h3>Async image data after 3 seconds (placeholder immediately)</h3><button (click)="startAsyncLoading()">Start timer</button>
<sn-image-loader
  [image]="asyncImage"
  [sizes]="sizes"
  imgClass="img img--bottom"
  alt="lorem ipsum"
  (placeholderLoaded)="onAsyncImagePlaceholderLoad($event)"
  (imageLoaded)="onAsyncImageLoad($event)"
  class="sn-image-loader sn-image-loader-async">
</sn-image-loader>
<h3>Async image imageLoaded event count: <span class="image-loaded-count-async">{{ asyncImageLoadedEventCount }}</span></h3>
<div class="spacer"></div>

<sn-video-loader
  [sizes]="sizes"
  [video]="video"
  [loop]="true"
  [muted]="true"
  [autoplay]="true"
  [controls]="false"
  [playsInline]="true"
  type="video/mp4"
  videoClass="video"
  posterClass="img"
  #videoEl>
</sn-video-loader>
