:host {
  display: block;
  font-family: Roboto, sans-serif;
}

.spacer {
  min-height: 150vh;
}

:host ::ng-deep .img {
  transition: all .35s ease-in-out;
  width: 150px;
}

@media (min-width: 768px) {
  :host ::ng-deep .img {
    width: 500px;
  }
}

:host ::ng-deep .sn-image-not-loaded .img {
  filter: blur(20px);
}

:host ::ng-deep .sn-image-loaded .img {
  filter: blur(0px);
}
